body {
    background-color: yellow;
}

#logo-space {
    background-color: blue;
    display: flex;
    margin-top: 89px;
    flex-direction: column;
    align-items: center;
}

#logo-image {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: black;
    width: 272px;
    height: 201px;
   margin-top: 109px;
}

#search-zone {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#search-bar {
    background-color: grey;
    width: 400px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#buttons {
    background-color: darkgray;
    width: 250px;
    height: 60px;
}

#language {
    background-color: lightgrey;
    width: 150px;
    height: 40px;
}

#glass {
    background-color: black;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#input {
    background-color: lightgrey;
    height: 40px;
    width: 100%;
}

#voice {
    background-color: black;
    width: 24px;
    height: 24px;
    margin-left: 5px;
}